# Qdrant Cloud Vector Database
QDRANT_URL=https://ee3b14e5-d533-414f-aaae-bf8d2877a3b1.eu-west-2-0.aws.cloud.qdrant.io:6333
QDRANT_API_KEY=your_qdrant_api_key_here
QDRANT_COLLECTION_NAME=notebooklm-docs